html,
body,
#root,
#root > div {
  width: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
iframe{
  display: none;
}

.chatInput .MuiOutlinedInput-root{
  border-radius: unset;
}
.chatInput input{
 padding: 14px 14px;
 background: #fff;
}